@import url('https://fonts.googleapis.com/css?family=Tangerine');
        *{
            padding:0;
            margin:0;
            box-sizing:border-box;
            font-family: 'Poppins',sans-serif;
        }
        body {
            background: #ffffff;
        }
        .container{
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 90vh;
        }
        .box{
            background: #ffffff;
            display: flex;
            flex-direction:column;
            padding:50px 50px;
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                        
        }
        .login{
            background : #F5C333;
            border: none;
            border-radius: 5px;
            width: 100%;
            height: 40px;
            color: #fff;
        }
        .form-box{
            width: 450px;
            margin: 0px 10px;
        }
        .form-box header{
            font-size: 25px;
            font-weight: 600;
            padding-bottom: 10px;
            border-bottom: 1px solid #e6e6e6;
            margin-bottom: 20px;            
        }
        .form-box form .field{
            display: flex;
            margin-bottom: 20px;
            flex-direction: column;
        }
        .form-box form .input input{
            height: 40px;
            width: 100%;
            font-size: 16px;
            padding: 0 10px;
            border-radius:  5px;
            border: 1px solid #ccc;
            outline: none;
        }
        .form-floating{
            margin-bottom: 20px;
        }
        .submit{
            width: 30%;
        }
        .link{
            margin-bottom: 15px;
        }