@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary-color: #F5C333;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #8e8e8e;
    --border-color: #e6e5e5;
    --toggler-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #e01414;
    --box3-color: #ff4de7;
    --title-icon-color: #fff;

    --tran-06: all 0.10s ease;
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
    
}

body{
    min-height: 100vh;
    background-color: var(--primary-color);
}

body.dark{
    --primary-color: #F5C333;
    --panel-color: #242526;
    --text-color: #ccc;
    --black-light-color: #CCC;
    --border-color: #ffffff;
    --toggler-color: #fff;
    --box1-color: #4DA3FF;
    --box2-color: #e01414;
    --box3-color: #ff4de7;
    --title-icon-color: #ccc;

    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

.logout-mod button{
    border: none;
    background-color: white;
    font-weight: 400;
    margin-left: 10px;
    color: var(--black-light-color);
    transition: var(--tran-05);
}

.logout-mod button{
    border: none;
    background-color: white;
    font-weight: 400;
    margin-left: 10px;
    color: var(--black-light-color);
    transition: var(--tran-05);
}

.logout-mod li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.menu-items li button .link-name {
    font-size: 18px;
    font-weight: 400;
    margin-left: 20px;
    color: var(--black-light-color);
    transition: var(--tran-03);
}

nav{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width: 250px;
    padding: 10px 14px; 
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color); 
    transition: var(--tran-05);
}

nav .close{
    width: 73px;
   
}

nav .logo-name {
    display:flex;
    align-items:center;
}

nav .logo-image {
    display: flex;
    justify-content: center;
    min-width: 45px;
    
}

nav .logo-image img{
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-name .logo_name{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
}

nav .close .logo_name{
    opacity: 0;
    pointer-events: none;
}

nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-items li{
    list-style: none;
}

.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}

.nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

body.dark li a:hover:before{
    background-color: var(--text-color);
}

.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}

.menu-items li a .link-name {
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);
    transition: var(--tran-05);
}

nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;

}

.nav-links li a:hover i,
.nav-links li a:hover .link-name {
    color: var(--primary-color);
}

.body.dark .nav-links li a:hover i,
.body.dark .nav-links li a:hover .link-name {
    color: var(--primary-color);
}

.menu-items .logout-mode{
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}

.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.menu-items .mode-toggle {
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-self: center;
    cursor: pointer;
}

.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggler-color);
}

.switch:before{
    content: " ";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}

body.dark .switch:before{
    left: 20px;
}

.dashboard{
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    /* min-height: 100vh; */
    width: calc(100% - 250px);
    padding: 10px;
    transform: var(--tran-05);
}

.dashboard .bottom{
    padding: 20px;
}


nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .top{
    /* top: 50px; */
    z-index: 500;
    position: fixed;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    margin: 0;
    background-color: var(--panel-color);
    transition: var(--tran-05);
}

nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .top .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
    
}

.dashboard .search-box{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    
    
}

.search-box input{
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 25px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
}

.search-box i{
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
}

.top img{
    width: 35px;
    border-radius: 20px;
}

.dashboard .dash-content{
    padding-top: 20px;
    
}

.dash-content .wrapper{
    
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    
}

.dash-content .title{
    
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;
}

.dash-content .title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.dash-content .title .text{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}

.dash-content .boxes{
    display: flex; 
    align-items: center;
    justify-content: space-between; 
}

.dash-content .boxes .box{
    display: flex; 
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: calc(100% / 3 - 15px);
    padding: 15px 20px;
    background-color: var(--box1-color);
}

.boxes .box i {
    font-size: 25px;
    color: var(--text-color);
}

.boxes .box .text{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}

.boxes .box .number{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}

.boxes .box.box2{
    background-color: var(--box2-color)
}

.boxes .box.box3{
    background-color: var(--box3-color)
}

.dash-content .activity .activity-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.activity .activity-data{
    display: flex;
    /* flex-direction: column;
    width: calc(100% / 5 - 15px); */
}

.activity-data .data{
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}

.activity-data .data-title{
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}

.activity-data .data .data-list{
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    white-space: nowrap;
    color: var(--text-color);
}

.pagination-btn{
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--primary-color);
    border-radius: 10px;
    width: 40px;
    height: 40px;
}

.pagination-btn:hover{
    color: var(--text-color);
    text-decoration: none;
}

.btn-action{
    border: none;
    width: 60px;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
}

.btn-tambah:hover{
    text-decoration: none;

}

.modal-confirm {		
	color: #636363;
	width: 400px;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 14px;
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -10px;
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -2px;
}
.modal-confirm .modal-body {
	color: #999;
}
.modal-confirm .modal-footer {
	border: none;
	text-align: center;		
	border-radius: 5px;
	font-size: 13px;
	padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
	color: #999;
}		
.modal-confirm .icon-box {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
	color: #f15e5e;
	font-size: 46px;
	display: inline-block;
	margin-top: 13px;
}
.modal-confirm .btn, .modal-confirm .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #60c7c1;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 120px;
	border: none;
	min-height: 40px;
	border-radius: 3px;
	margin: 0 5px;
}
.modal-confirm .btn-secondary {
	background: #c1c1c1;
}
.modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
	background: #a8a8a8;
}
.modal-confirm .btn-danger {
	background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
	background: #ee3535;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}

.dropzone {
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
  }
  
  .drop-message {
    font-size: 18px;
    color: #999;
  }
  
  .file-list {
    margin-top: 20px;
  }
  
  .file-item {
    margin-bottom: 10px;
  }
  
  #browse-btn{
    border:none;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: rgb(137, 112, 213);
    color: #fff;
  }

  .select{
    border: none;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.24);
    margin-top: 25px;
  }

  .topdetail{
   margin-top:60px;
  }

  .rating {
    display: inline-block;
    font-size: 24px;
}

.star {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #ccc;
    clip-path: polygon(
        50% 0%, 61% 38%, 100% 38%,
        68% 62%, 79% 100%, 50% 75%,
        21% 100%, 32% 62%, 0% 38%,
        39% 38%
    );
    margin-right: 4px;
}

.star.active {
    background-color: gold;
}

.titles {
    color: white;
    margin-top: 25px;
}

.select{
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    border-radius: 10px;
}